In [55]:
import numpy as np
import pandas as pd
import csv

In [56]:
path = "/Users/ran/Desktop/traffic/data/PEMS03/PEMS03.npz"
data = np.load(path)

In [57]:
df = pd.DataFrame((data['data'].reshape(26208,358)))
df

,0,1,2,3,4,5,6,7,8,9,...,348,349,350,351,352,353,354,355,356,357
0,20.0,20.0,182.0,182.0,91.0,182.0,136.0,91.0,91.0,136.0,...,158.0,63.0,63.0,63.0,125.0,114.0,63.0,63.0,115.0,63.0
1,22.0,22.0,174.0,174.0,87.0,174.0,131.0,87.0,87.0,131.0,...,158.0,62.0,62.0,62.0,144.0,109.0,62.0,63.0,109.0,62.0
2,22.0,22.0,183.0,183.0,92.0,183.0,139.0,92.0,92.0,139.0,...,160.0,57.0,57.0,57.0,131.0,116.0,57.0,57.0,115.0,57.0
3,50.0,49.0,137.0,139.0,60.0,158.0,111.0,57.0,55.0,99.0,...,174.0,109.0,30.0,58.0,106.0,102.0,52.0,111.0,88.0,48.0
4,37.0,35.0,128.0,123.0,54.0,131.0,111.0,46.0,52.0,78.0,...,162.0,77.0,31.0,55.0,109.0,127.0,49.0,109.0,76.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26203,54.0,53.0,120.0,128.0,66.0,149.0,110.0,56.0,61.0,59.0,...,185.0,63.0,35.0,67.0,51.0,147.0,59.0,134.0,144.0,48.0
26204,52.0,55.0,109.0,107.0,58.0,126.0,114.0,51.0,55.0,94.0,...,214.0,65.0,36.0,72.0,61.0,143.0,64.0,139.0,130.0,61.0
26205,43.0,39.0,144.0,143.0,55.0,147.0,99.0,62.0,61.0,80.0,...,219.0,89.0,32.0,55.0,61.0,132.0,57.0,124.0,104.0,47.0
26206,27.0,27.0,115.0,114.0,62.0,129.0,91.0,41.0,47.0,61.0,...,183.0,50.0,35.0,61.0,72.0,132.0,56.0,123.0,112.0,39.0
26207,48.0,52.0,108.0,105.0,56.0,120.0,103.0,33.0,36.0,58.0,...,175.0,62.0,34.0,52.0,41.0,108.0,56.0,134.0,115.0,38.0

In [58]:
sensor_distance = "/Users/ran/Desktop/traffic/data/PEMS03/PEMS03.csv"
sensor_ids = "/Users/ran/Desktop/traffic/data/PEMS03/PEMS03.txt"

In [59]:
def get_adjacency_matrix(distance_df_filename, num_of_vertices, id_filename):
    A = np.zeros((int(num_of_vertices), int(num_of_vertices)),
                 dtype=np.float32)
    
    with open(id_filename, 'r') as f:
        id_dict = {int(i): idx for idx, i in enumerate(f.read().strip().split('\n'))}
        
    with open(distance_df_filename, 'r') as f:
        f.readline()
        reader = csv.reader(f)
        for row in reader:
            if len(row) != 3:
                continue
            i, j, distance = int(row[0]), int(row[1]), float(row[2])
            A[id_dict[i], id_dict[j]] = 1
            A[id_dict[j], id_dict[i]] = 1
    return A

In [60]:
adj_matrix = get_adjacency_matrix(sensor_distance,358,id_filename=sensor_ids)
pd.DataFrame(adj_matrix)

,0,1,2,3,4,5,6,7,8,9,...,348,349,350,351,352,353,354,355,356,357
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
357,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0